<!DOCTYPE html>
<html>
  
  <head>
    <title>YKWA</title>
    <link rel='stylesheet' type='text/css' href="{{url_for('static',filename='webapphw.css')}}">
  </head>
<head>
	<title>My to-do list</title>
  <div class="typewriter">
    <div class="slide"><i></i></div>
    <div class="paper"></div>
    <div class="keyboard"></div>
</div>
   
</head>
<body>
	
	<div class="content">
		<h1>My daily todo
        <label class="checkbox-btn">
            <label for="checkbox"></label>
            <input id="checkbox" type="checkbox">
            <span class="checkmark"></span>
            <link rel="stylesheet" type="text/css" href="label.css">
            
        </label>
        
       
       <h1>Weekly</h1>
	<table>
		<thead>
			<tr>
                <th></th>
				<th>Monday</th>
				<th>Tuesday</th>
				<th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
			</tr>

		</thead>
		<tbody>
			<tr>
				<td>General paper</td>
				<td></td>
				<td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

			</tr>
			<tr>
				<td>Math</td>
				<td></td>
				<td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
				<td>Physics</td>
				<td></td>
				<td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
				<td>Computing</td>
				<td></td>
				<td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
				<td>Economics</td>
				<td></td>
				<td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

		</tbody>
	</table>
    <head>
        
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }
    
            th, td {
                text-align: center;
                padding: 15px;
                border: 1px solid #5C4F55;
            }
    
            th {
                color: #F2E6CE;
                background-color: #6E8B74;
                width: 100px;
            }
    
            td {
                height: 100px;
                color: #795A5F;
                background-color: #EFDFDF
            }
    
            .today {
                background-color: #ffcccc;
            }
        </style>
    </head>
    <body>
      <h1>Course resourses</h1>
      <ul>
            <li> 
            <button class="GP">
              <a href="https://portal.asrjc.edu.sg/index.html#~/com.repo.html?id=97f7ce5bff3871a931564e472b53b129">GP</a>
            </button> 
            </li>
            <li> 
            <button class="Math">
            <a href="https://classroom.google.com/u/1/c/NTgxNzYwMDg2NzM4">Math</a>
            </button>
            </li>
            <li>  
            <button class="Physics">
            <a href="https://classroom.google.com/u/1/c/NTkyODAyNjg0OTY4">Physics</a>
            </button>
            </li>
        <li>
          <button class="Economics">
            <a href="https://portal.asrjc.edu.sg/index.html#~/com.repo.html?id=446e9f4daabb83e7bda7228736dc3c17">Economics</a>
          </button>
        </li>
        <li>
          <button class="Computing">
            <a href="https://classroom.google.com/u/0/c/NTE2MDAyNjQ1MjIy">Computing</a>
          </button>
        </li>
        <li>
          <button class="PW">
            <a href="https://discord.com/channels/1073415238294196306/1082176019051593770">PW</a>
          </button>
        </li>
        </ul>
        <h1>Monthly</h1>
        <table>
            <thead>
                <tr>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
      <div class="sidebar">
		<a href="#"><i class="fas fa-home"></i> Home</a>
		<a href="#"><i class="fas fa-book"></i> Help</a>
		<a href="#"><i class="fas fa-calendar"></i> 🫡</a>
	</div>
	</div>
</body>
</html>